@import './fonts.css';

:root {
  --c-white: #ffffff;
  --c-white-light-1: #f8f8f8;
  --c-white-light-2: #f2f2f2;

  --c-black: #181818;
  --c-black-dark-1: #222222;
  --c-black-dark-2: #282828;

  --c-blue: #1c64f2;
  --c-blue-light-1: #4a8df4;
  --c-blue-light-2: #789df5;
  --c-blue-dark-1: #164ab1;
  --c-blue-alt: #548dff;

  --c-light-blue: #f3f4f6;
  --c-light-grey-blue: #f1f3f5;

  --c-light-grey: #d1d5db;
  --c-light-grey-light-1: #f9fafb;
  --c-light-grey-light-2: #fcfcfd;
  --c-light-grey-alt: #e3e4ed;

  --c-zinc: #a1a5ab;

  --c-charcoal: #1f2937;

  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgba(235, 235, 235, 0.64);

  --c-border-radius-xsmall: 5.5px;
  --c-border-radius-small: 7.5px;
  --c-border-radius-medium: 10px;
  --c-border-radius-large: 12.5px;
  --c-border-radius-xlarge: 15px;

  --box-shadow-dark: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

  --c-dark-blue: #111827;
  --c-dark-blue-light-1: #313b4b;
  --c-dark-blue-light-2: #424f63;

  --c-dark-blue-border: #4b5563;
  --c-blue-grey: #374151;
  --c-grey-blue: #1f2937;
  --c-grey-blue-light-1: #243b6b;
  --c-grey-blue-light-2: #345fba;

  --c-text-grey: #e5e7eb;
}

:root {
  --color-background: var(--c-light-grey-blue);

  --color-button-bg: var(--c-blue);
  --color-button-hover-bg: var(--c-blue-light-2);
  --color-button-text: var(--c-white);
  --color-button-focus-outline: var(--c-blue-light-2);
  --color-button-active-outline: var(--c-blue);

  --color-button-group-item-bg: var(--c-white);
  --color-button-group-item-border: var(--c-light-grey);
  --color-button-group-item-hover-bg: var(--c-light-grey-light-2);
  --color-button-group-item-text: var(--c-charcoal);
  --color-button-group-item-hover-text: var(--c-blue);
  --color-button-group-item-active-text: var(--c-blue);
  --color-button-group-item-active-bg: var(--c-white);

  --color-input-text: var(--c-charcoal);
  --color-input-bg: var(--c-white);
  --color-input-hover-bg: var(--c-light-grey-light-2);
  --color-input-border: var(--c-light-grey);

  --color-label-text: var(--c-charcoal);
  --color-card-border: var(--c-light-grey);
  --color-heading: var(--c-text-light-1);
  --color-text: var(--c-text-light-1);
  --color-card-bg: var(--c-white);
  --color-text-accent: var(--c-blue);
  --color-link: var(--c-blue);
  --color-hover-link: var(--c-blue-dark-1);

  --color-dark-mode-toggle-icon: var(--c-zinc);
  --color-dark-mode-toggle-hover: var(--c-light-grey-alt);

  --box-shadow-card: var(--box-shadow-dark);
}

body.dark {
  --color-background: var(--c-dark-blue);

  --color-input-text: var(--c-text-grey);
  --color-input-bg: var(--c-grey-blue);
  --color-input-hover-bg: var(--c-dark-blue-light-1);
  --color-input-border: var(--c-dark-blue-border);

  --color-button-bg: var(--c-blue-alt);
  --color-button-hover-bg: var(--c-blue-light-2);
  --color-button-text: var(--c-text-grey);
  --color-button-focus-outline: var(--c-blue-light-2);
  --color-button-active-outline: var(--c-blue-alt);

  --color-button-group-item-bg: var(--c-grey-blue);
  --color-button-group-item-border: var(--c-blue-grey);
  --color-button-group-item-hover-bg: var(--c-dark-blue-light-1);
  --color-button-group-item-text: var(--c-text-grey);
  --color-button-group-item-hover-text: var(--c-text-grey);
  --color-button-group-item-active-text: var(--c-white);
  --color-button-group-item-active-bg: var(--c-grey-blue-light-1);

  --color-label-text: var(--c-text-grey);
  --color-card-border: var(--c-blue-grey);
  --color-heading: var(--c-white);
  --color-text: var(--c-text-grey);
  --color-card-bg: var(--c-grey-blue);
  --color-text-accent: var(--c-blue-alt);
  --color-link: var(--c-blue-alt);
  --color-hover-link: var(--c-grey-blue-light-2);

  --color-dark-mode-toggle-icon: var(--c-zinc);
  --color-dark-mode-toggle-hover: var(--c-dark-blue-light-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.6;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input,
select {
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);
  color: var(--color-input-text);
  border-radius: var(--c-border-radius-small);
  display: block;
  width: 100%;
  padding: 0.625rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition:
    background-color 0.05s ease-in-out,
    color 0.05s ease-in-out;

  &:focus {
    border-color: var(--color-button-focus-outline);
    box-shadow:
      0 0 0 0px #fff,
      0 0 0 1px var(--color-button-focus-outline),
      0 0 #0000;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  &:hover {
    background-color: var(--color-input-hover-bg);
  }
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 0.65rem 0.65rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  padding-right: 2.5rem;
}

.input-wrapper {
  margin-bottom: 1rem;
  &.input-desktop {
    display: none;
  }
}

.input-label {
  display: flex;
  flex-direction: column;

  &__text {
    margin-bottom: 0.3rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-label-text);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: color 0.05s ease-in-out;
  &:visited {
    color: var(--color-link);
  }
  &:hover {
    color: var(--color-hover-link);
  }
}

button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  background-color: var(--color-button-bg);
  font-weight: 400;
  border-radius: var(--c-border-radius-small);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  transition:
    background-color 0.05s ease-in-out,
    color 0.05s ease-in-out;

  &:hover {
    background-color: var(--color-button-hover-bg);
  }
  &:focus {
    box-shadow:
      0 0 0 0px #fff,
      0 0 0 2px var(--color-button-focus-outline),
      0 0 #0000;
  }
}

.button {
  &__img-wrapper {
    width: 1.5rem;
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    margin-right: 0.5rem;
    &.refine-method {
      width: 2rem;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
}

.button-group {
  button {
    color: var(--color-button-group-item-text);
    background-color: var(--color-button-group-item-bg);
    border: 1px solid var(--color-button-group-item-border);
    border-radius: 0;
    border-right: 1px solid transparent;
    outline: 2px solid transparent;
    position: relative;
    z-index: 1;
    &:nth-of-type(1) {
      border-radius: var(--c-border-radius-xsmall) 0 0 var(--c-border-radius-xsmall);
    }
    &:nth-last-of-type(1) {
      border-radius: 0 var(--c-border-radius-xsmall) var(--c-border-radius-xsmall) 0;
      border: 1px solid var(--color-button-group-item-border);
    }
    &:only-of-type {
      border-radius: var(--c-border-radius-xsmall);
      border: 1px solid var(--color-button-group-item-border);
    }
    &:hover {
      background-color: var(--color-button-group-item-hover-bg);
      color: var(--color-button-group-item-hover-text);
    }
    &:focus {
      z-index: 10;
    }
    &.reduced-horizontal-padding {
      padding-left: 0.85rem;
      padding-right: 1rem;
    }
    &.selected {
      background-color: var(--color-button-group-item-active-bg);
      z-index: 9;
      color: var(--color-button-group-item-active-text);
      box-shadow:
        0 0 0 0px #fff,
        0 0 0 1px var(--color-button-active-outline),
        0 0 #0000;
      border: 1px solid var(--color-button-active-outline);
    }
  }
}

@media (min-width: 600px) {
  .input-wrapper {
    &.input-desktop {
      display: block;
    }
    &.input-mobile {
      display: none;
    }
  }
}

@media (min-width: 1100px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 17px;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 18px;
  }
}
